/* Shared stylings to All */

:root {
    --override-color-primary: #9E2A47;
    /* Override Bootswatch Color Primary */
    --font: 'Inter', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.bg-primary {
    background: var(--override-color-primary) !important;
}

.btn-primary {
    background: var(--override-color-primary) !important;
    border: var(--override-color-primary) !important;
}


/*
.modal .modal-dialog .modal-content {
    border-radius: 30px !important;
}
*/


body {
    font-family: var(--font);
}



/* hero for Client */
#hero {
    height: 70vh;
    background: url('/storage/spa-images/full-body.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/*
* {
    outline: 1px solid #333 !important;
}
*/