/* Shared stylings to All */

:root {
    --font: 'Inter', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}



body {
    font-family: var(--font);
}



/* hero for Client */
#hero {
    height: 70vh;
    background: url('/storage/spa-images/full-body.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/*
* {
    outline: 1px solid #333 !important;
}
*/