:root {
    --override-color-primary: #8B1E3F;
    /* Override Bootswatch Color Primary */
    --font: 'Inter', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.bg-primary {
    background: var(--override-color-primary) !important;
}

.btn-primary {
    background: var(--override-color-primary) !important;
    border: var(--override-color-primary) !important;
}



body {
    font-family: var(--font);
}